body {
    font-family: 'ProggyClean', monospace;
    margin: 0;
    padding: 0;
    background-color: #032B44; /* Royal Navy Blue */
}

h1 {
    color: #F5F5DC;
}

h2 {
    color: #fff; /* White */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #032B44; /* Royal Navy Blue */
    color: #fff; /* White */
}

li:last-child {
    border-bottom: none;
}

#docks-container, #haulers-container, #shipping-container {
    margin-bottom: 20px;
}

#docks-container h2, #haulers-container h2, #shipping-container h2 {
    margin-top: 0;
}

li[data-type] {
    cursor: pointer;
}

li[data-type]:hover {
    background-color: #FFFF00; /* Traditional Highlighter Yellow */
    color: #032B44; /* Royal Navy Blue */
}